
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Combined Reports</a></li>
                        <li><a href="#">Export</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Adelaide River</a></li>
                        <li><a href="">Batchelor</a></li>
                        <li><a href="">Palumpa</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Settings</a></li>
                        <li><a href="">Profile</a></li>
                        <li><a href="">Help</a></li>
                    </ul>
                </div>